
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string PlayerName = Path.GetFileName(Request.Url.ToString());
    ViewBag.Title = PlayerName + " Please Vote";
    ViewBag.Name = PlayerName;
    GameVote.Models.GameModels GameHelper = new GameVote.Models.GameModels();
    ViewBag.ResultsURL = Url.Action("VoteResults", "Home", routeValues: null, protocol: Request.Url.Scheme);
}



<h2>Choose your games!</h2>
<ul class="GameList" id="ListOfGames" name="@PlayerName" style="list-style-type:none">
    @Html.Raw(ViewBag.Query)
</ul>
<div class="VoteFloat">
    <button id="SubmitButton" name="SubmitButton" class="btn btn-success">Vote</button>
    <br />
    @Html.ActionLink("Check Results", "VoteResults", "Home")
</div>

@section scripts{
    <script>
        $('#SubmitButton').click(function () {
            var elem = document.getElementsByClassName("VotePos");
            var name = '@(ViewBag.Name)';
            var list = [];
            //Create list of objects
            for (var i = 0; i < elem.length; i++) {
                if (elem[i].checked) {
                    var vote = {};
                    vote.name = name;
                    vote.game = elem[i].name;
                    vote.pos = elem[i].value;
                    list.push(vote);
                }
            }
            //POST list of objects as json data for the server.
          $.ajax({
              url: "@(ViewBag.ResultsURL)",
              type: "POST",
              contentType: "application/json",
              dataType: "json",
              data: JSON.stringify(list),
                success: function (data) {
                    alert("Vote Accepted");
                }
          })
        });
    </script>
}
